<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% seo %}
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <nav>
              <ul>
                  <!-- <li><a style="color:white; font-size:120%;" href="/">Home</a></li> -->
                  <li><a style="color:black; font-size:120%;" href="mailto:kyra@u.northwestern.edu">Email</a></li>
                  <li><a style="color:black; font-size:120%;" href="https://scholar.google.com/citations?user=eyuOitoAAAAJ&hl=en">Google Scholar</a></li>
                  <li><a class="fa fa-github" style="color:black; font-size:120%;" href="https://github.com/kyrarudy"></a></li>
              </ul>
            </nav>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">

      </footer>
    </div>

  </body>
</html>
