<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}" style="color:SlateBlue">{{ site.title | default: site.github.repository_name }}</a></h1>

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        <div class="sidenav">

          <h3><a href="teaching" style="color:black">Teaching</a></h3>
            <h4><a href="courses" style="color:black">Courses</a></h4>
            <h4><a href="effectiveness" style="color:black">Effectiveness</a></h4>
            <h4><a href="teachingphilosophy" style="color:black">Philosophy</a></h4>
            <h4><a href="teachinginclusion" style="color:black">Diversity & Inclusion</a></h4>

          <h3><a href="research" style="color:black">Research</a></h3>
          <!-- <h3><a href="interests" style="color:black">Hobbies & Interests</a></h3> -->
          <h3><a href="pdfs/ResumeDrKyraRudy.pdf" style="color:black">CV</a></h3>
          <h3><a href="mailto:kyra@u.northwestern.edu" style="color:black">Email</a></h3>
          <!-- <h3><a href="https://www.linkedin.com/in/kyrarudy/" style="color:black">LinkedIn</a></h3> -->







        </div>

      </header>
      <section>

      {{ content }}

      </section>
      <footer>

      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
